Repository crypto-org-chain/ethermint, pull requests merged in 2025-09, with the labels that each got.

#737 fix: downgrade github.com/spf13/cobra from 1.10.1 to 1.9.1
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: ci

#740 fix: missing tx context during vm initialisation
  CHANGELOG.md
  x/evm/keeper/state_transition.go
Labels: evm

#736 fix: support 4byteTracer for tracer
  .github/workflows/build.yml
  .github/workflows/dependencies.yml
  .github/workflows/goreleaser.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  CHANGELOG.md
  tests/integration_tests/hardhat/contracts/TestBlockTxProperties.sol
  tests/integration_tests/test_block.py
  tests/integration_tests/test_tracers.py
  x/evm/keeper/state_transition.go
Labels: ci, evm
